.protocole-row {
    padding: 2px 0;
}

.protocole-row a {
    cursor: pointer;
}

.id-protocole {
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    min-width: 45px;
}