.main {
    margin: 15px 10px;
}

.onglet-panel {
    border-right: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    border-left: 1px solid #ddd; 
    border-top: none; 
    display: flex;
    height: calc(100vh - 160px);
}
.onglet-panel-menu {
    float: left; 
    width: 48px; 
    background-color: black;
}
.onglet-panel-contenu {
    width: 100%; 
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.no-margin-left {
    margin-left: 0px!important;
}

.no-padding-left {
   padding-left: 0px!important;
}

.margin-left-minus-on {
    margin-left: -1px!important;
}