<msss-sigct-content-zone id="consulter-isisw-section-usager"
                         title="{{ 'sigct.ss.c_appelsisisw.titrehistorique' | translate }}">
  <div class="content">
    <div class="row">
      <div class="col-md-2">
        <label>
          {{'sigct.ss.c_appelsisisw.hstddn' | translate}} :
        </label>
      </div>
      <div class="col-md-2">
        <label>
          {{'sigct.ss.c_appelsisisw.hstsexe' | translate}} :
        </label>
      </div>
      <div class="col-md-2">
        <label>
          {{'sigct.ss.c_appelsisisw.hstlangue' | translate}} :
        </label>
      </div>
      <div class="col-md-2">
        <label>
          {{'sigct.ss.c_appelsisisw.hstcodepostal' | translate}} :
        </label>
      </div>
      <div class="col-md-2">
        <label>
          {{'sigct.ss.c_appelsisisw.hstmun' | translate}} :
        </label>
      </div>
      <div class="col-md-2">
        <label>
          {{'sigct.ss.c_appelsisisw.hstregion' | translate}} :
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <span>{{dto.dateNaissance}}</span>
      </div>
      <div class="col-md-2">
        <span>{{dto.sex}}</span>
      </div>
      <div class="col-md-2">
        <span>{{dto.langue}}</span>
      </div>
      <div class="col-md-2">
        <span>{{dto.codePostal}}</span>
      </div>
      <div class="col-md-2">
        <span>{{dto.municipalite}}</span>
      </div>
      <div class="col-md-2">
        <span>{{dto.region}}</span>
      </div>
    </div>
  </div>
</msss-sigct-content-zone>
