<div class="main">
  <div class="left-menu">
    <msss-left-menu [leftMenuItems]="leftMenuItems"></msss-left-menu>
  </div>
  <div class="conteneur">
    <div class="form-top-bar">
      <msss-form-top-bar label="{{'sigct.so.r_appels.titre' | translate}}"
                         [options]="formTopBarOptions"
                         nomModule="infosocial"></msss-form-top-bar>
    </div>

    <div class="compos"
         cdkScrollable>
      <ng-template #alertContainer></ng-template>

      <app-rechercher-fiche-appel-ui #appRechercherFicheAppelUi
                                     domaine="SO"
                                     labelSectionCriteresFicheAppel="sigct.so.r_appels.sctn_criteres_consultation"
                                     [inputOptionCollections]="rechercheFicheAppelCollections"
                                     [criteresRecherche]="rechercheFicheAppelCriteres"
                                     (consulterFicheAppel)="onConsulterFicheAppel($event)"
                                     (rechercherFicheAppel)="onRechercherFicheAppel($event)"
                                     (exporterFicheAppel)="exporter($event)"
                                     (majListeIntervenant)="onMajListeIntervenant($event)">
      </app-rechercher-fiche-appel-ui>
    </div>
  </div>
</div>
