<div class="main">
    <div class="left-menu">
        <msss-left-menu [leftMenuItems]="leftMenuItems"></msss-left-menu>
    </div>
    <div class="conteneur">
        <sigct-usager-recherche [fusionEnabled]="true"
                                (consulterEnregistrementsUsager)="onConsulterEnregistrementsUsager($event)"
                                (consulterUsager)="onConsulterUsager($event)"
                                (editerUsager)="onEditerUsager($event)"
                                (fusionnerUsager)="onFusionnerUsager($event)">
        </sigct-usager-recherche>
    </div>
</div>