.well {
    padding: 0;
    margin-bottom: 0;
}

.stiky {
    position: fixed;
    top: 150px;
    left: auto;
    right: auto;
    z-index: 1000;
}

.row-boutons-interface {
    height: 40px;
}

.btn:focus, .btn:active:focus {
    outline: thin dotted;
}