<form name="form" (ngSubmit)="onSubmit()" #fCom="ngForm">
    <div class="col-md-12 enlever-espace no-padding-right" title="">
        <div class="row no-padding-right">

            <div class="row col-md-6">

                <div class="col-sm-2">
                    <msss-input-radio #Aucun id="radioPertinence1" name="radioPertinence1"
                        [options]="inputOptionsAucunAntecedent" [disabled]="isAucunDisabled == true || isDisabled"
                        [(ngModel)]="this.pertinence"
                        [disabled]="isDisabled">
                    </msss-input-radio>
                </div>

                <div class="col-sm-2">

                    <msss-input-radio #Inconnu id="radioPertinence2" name="radioPertinence2"
                        [options]="inputOptionsAntecedentInconnu"
                        [disabled]="(listeAntecedents.length > 0 && isNonPertinentDisabled == true) || isDisabled"
                        [(ngModel)]="this.pertinence">
                    </msss-input-radio>

                </div>

                <div class="col-sm-2">

                    <msss-input-radio #NonPertinent id="radioPertinence3" name="radioPertinence3"
                        [options]="inputOptionsAntecedentNonPertinent"
                        [disabled]="(listeAntecedents.length > 0 && isNonPertinentDisabled == true) || isDisabled"
                        [(ngModel)]="this.pertinence">
                    </msss-input-radio>

                </div>

            </div>

        </div>
        <div class="row no-margin-right">

            <div class="col-md-6 col-md-6-left background-gris">

                <div class="row">

                    <div class="col-sm-4 no-padding-right">
                        <msss-sigct-chosen #listeAntecedentHTML label="sigct.sa.f_appel.evaluation.antecedents"
                            name="antecedants" required id="antecedants" [options]="inputOptionsAntecedents"
                            [valide]="isAntecedentValide" [(ngModel)]="antecedent.referenceAntecedentId"
                            [title]=infoBulleAntecedent (ngModelChange)="onAntecedentChange()"
                            (optionSelected)="onAntecedentValide($event)"
                            [disabled]="isDisabled">
                        </msss-sigct-chosen>
                    </div>


                    <div class="col-sm-1 ajustementlien">

                            <a href="#" id="btnPre" [style]="setPresenceStyle()" onclick="return false;" class="largeurlien"
                                (click)="onPresenceClick()" (keyup.Space)="onPresenceClick()"
                                title="{{'sigct.sa.f_appel.evaluation.pre' | translate}}">
                                <i id="pre" class="fa fa-check fa-2x icon2 margin-left-m2"></i>
                            </a>


                    </div>

                    <div class="col-sm-1  margin-left-m25">

                        <div class="row icon">
                            <a href="#" id="btnAbs" [style]="setAbsenceStyle()" onclick="return false;"
                                (click)="onAbsenceClick()" (keyup.Space)="onAbsenceClick()"
                                title="{{'sigct.sa.f_appel.evaluation.abs' | translate}}">
                                <i id="abs" class="fa fa-ban fa-2x"></i>
                            </a>
                        </div>

                    </div>

                    <div class="col-sm-5 col-sm-5plus no-padding-left no-padding-right">
                        <msss-input-text id="detailsAnte" name="detailsAnte" label="sigct.sa.f_appel.evaluation.details"
                            maxlength="255" [(ngModel)]="antecedent.details"
                            [disabled]="isDisabled" raccourcis=true>
                        </msss-input-text>
                    </div>

                    <div class="col-sm-1 margin-left-m5">
                        <div id="antecedentActionIcon">
                            <button type="submit" style="display:none" #submitBtn>Submit</button>
                            <msss-action-link [actionLinks]="actionLinks" [disableAll]="isDisabled"></msss-action-link>
                        </div>
                    </div>

                </div>

                <div>
                  <a *ngIf="!isDisabled" (click)="ajouterParCategoriePopUp()">{{'sigct.sa.f_appel.evaluation.ajoutantecedentsparcategorie' | translate}}</a>
                  <span *ngIf="isDisabled" class="disabled">{{'sigct.sa.f_appel.evaluation.ajoutantecedentsparcategorie' | translate}}</span>
                </div>

            </div>

            <div class="col-md-6 col-md-6-right background-blanc  bordures">
                <msss-list-info-action [list]="this.listeAntecedents" [formatAction]="formatActionAntecedent"
                    (modifierAction)="confirmerModifierAntecedent($event)" editerId="editerBtnAnt"
                    supprimerId="supprimerBtnAnt" (supprimerAction)="confirmerSupprimerAntecedent($event)"
                    [cacherAfficherReduire]="true" [idElementModifieSelectionne]="idElementModifieSelectionne"
                    [afficherBoutonSupprimer]="true"
                    *ngIf="!isDisabled">
                </msss-list-info-action>

                <modal-confirmation id-container="confirm_popup_modif_antecedent">
                    <div class="modal-confirm-body modal-body">
                        {{ messageConfirmerAntecedent }}
                    </div>

                    <div class="modal-confirm-footer modal-footer">
                        <button id="confi_ant_btn_oui" type="button" data-dismiss="modal"
                            class="btn btn-primary btn-sm btn-key-action visibility-visible"
                            (click)="remplacerAntecedent()">Oui</button>
                        <button type="button" data-dismiss="modal"
                            class="btn btn-sm btn-key-action hidePopup visibility-visible"
                            id="cancel_confirm_button">Non</button>
                    </div>
                </modal-confirmation>

   
            </div>

        </div>



    </div>
</form>
