.icon {
    margin-left: 12px;
    margin-top: 18px;
}

.background-gris {
    background-color: #D3D3D3;
}

.background-blanc {
    background-color: white;
}

.padding-left-8 {
    padding-left : 8px;
}

.padding-top-10 {
    padding-top:10px;
}

.padding-top-0 {
    padding-top: 0px;
}

.enlever-espace {
    margin-top: -15px !important;
    margin-left: -15px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}


.col-sm-5plus {
    width: 46.66666667% !important;
}

@media (min-width:1441px) {
    .margin-left-m15 {
        margin-left:-15px !important;
    }

    .presence-offset {
        margin-left: 10px;
    }

    .margin-left-m1 {

        margin-left: -4px !important;

    }

    .margin-left-m10 {
        margin-left:-15px !important;
    }

    .offset {
        margin-left:-8.9px !important;
    }

}

@media (max-width:1440px) {
    .margin-left-m15 {
        margin-left:-5px !important;
    }

    .presence-offset {
        margin-left: -6px;
    }

    .margin-left-m1 {

        margin-left: -4px !important;

    }

    .margin-left-m10 {
        margin-left:-15px !important;
    }

    .offset {
        margin-left:-7.9px !important;
    }


}

.margin-left-m25 {
    margin-left:-25px !important;
}

a {
  cursor: pointer;
}
