.contentZone {
    margin-bottom: 0px;
    margin-top: -15px;
    margin-left: -15px;
}

.btn-terminer {
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
}
  
 .first-row {
    margin: 10px 0 0 0;
}

.contentZone-statistique {
    margin-left: 0;
    margin-top: 0;
}


