<msss-sigct-content-zone id="consulter-isisw-section-usager"
                         title="{{ 'sigct.ss.c_appelsisisw.titreusager' | translate }}">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <label>
          {{'sigct.ss.c_appelsisisw.nomprenomusager' | translate}} :
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="uppercase">{{dto.nomPrenom}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span>{{dto.dateNaissance}}</span>
      </div>
      <div class="col-md-6">
        <span>{{dto.nam}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span>{{dto.telephone1}}</span>
      </div>
      <div class="col-md-6">
        <span>{{dto.telephone2}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>{{dto.adresse}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span>{{dto.municipalite}}</span>
      </div>
      <div class="col-md-6">
        <span>{{dto.codePostal}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>
          {{'sigct.ss.c_appelsisisw.clsc' | translate}} :
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>{{dto.territoireClsc}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>
          {{'sigct.ss.c_appelsisisw.nodossier' | translate}} :
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>{{dto.noDossier}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>
          {{'sigct.ss.c_appelsisisw.region' | translate}} :
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>{{dto.nomRegion}}</span>
      </div>
    </div>
  </div>
</msss-sigct-content-zone>
