.contentZone {
  margin-top: -1rem;
}

.btn-terminer {
  text-align: right;
  padding-top: .5rem;
  padding-right: 2rem;
}

.col-md-6 {
  padding: 0px !important;
}

.padding-left-15{
  padding-left: 15px !important;
} 
