.main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
    margin: 0;
}

.left-menu {
    background-color: black;
    margin-top: 42px;
    position: sticky;
    width: 45px;
}

.conteneur {

    width: 100%;
}

.form-top-bar {
    flex-grow: 0;
    flex-shrink: 0;
}

.compos {
    flex-grow: 1;
    overflow-y: auto;
}
