
<div class="editer-information-utile-page">
    <div #contenuScroll id="contenuScroll" class="container" cdkScrollable>


        <div class="row margin-bottom-15 piloterTableRefContentTitle">
            <div class="col-md-9 ">
                <h1 class="label-font-size">
                    <i class="fa fa-wrench fa-lg margin-right-10"></i> {{
                    'sigct.ss.pilotage.info_utile.ajoutmodif.titre'|translate }}
                </h1>
            </div>

            <div class="col-md-3">

                <div class="float-right">
                    <button (click)="submitAction()"
                            class="btn btn-primary"
                            title="{{'sigct.so.pilotage.tableref.valeur.edition.sauvegarderinfobulle'|translate}}">
                        {{'sigct.ss.pilotage.info_utile.ajoutmodif.sauvegarder'|translate}}
                    </button>

                    <button (click)="confirmerAnnulerAction()"
                            class="btn btn-default margin-left-5"
                            title="{{'sigct.ss.pilotage.info_utile.ajoutmodif.annulerinfobulle'|translate}}">
                        {{'sigct.ss.pilotage.info_utile.ajoutmodif.annuler'|translate}}
                    </button>

                    <button (click)="confirmBackToTableInformationsUtiles()"
                            class="btn btn-default margin-left-5"
                            title="{{'sigct.ss.pilotage.info_utile.ajoutmodif.revenirlisteinfobulle'|translate}}">
                        <i class="fa fa-lg fa-times ng-star-inserted"></i>
                    </button>
                </div>

            </div>
        </div>

        <ng-template #alertContainer></ng-template>

        <msss-sigct-content-zone title="{{'sigct.ss.pilotage.info_utile.ajoutmodif.sectiontitre'|translate}}"
                                 id="identificationInforUtil">

            <msss-piloter-table-informations-utiles #inforutile
                                                    [tableInforUtileDTO]="tableInforUtileDTO"
                                                    [listeCategorieInforUtile]="listeCategorieInforUtile"
                                                    [isModifyMode]="isModifyMode"
                                                    [isCategorieValide]="isCategorieValide"
                                                    [isNomValide]="isNomValide"
                                                    [isTriValide]="isTriValide"
                                                    (onAjouterFichier)="onAjouterFichier($event)"
                                                    (onSupprimerFichier)="onSupprimerFichier($event)"
                                                    (onListFichier)="onListFichier($event)"
                                                    (onTelechargerFichier)="onTelechargerFichier($event)"
                                                    [fichierService]="fichierService"
                                                    [idFichier]="idFichier"
                                                    [listeFichiers]="listeFichiers"
                                                    [typeFichierAccepter]="typeFichierAccepter"
                                                    [titreSection]="titreSection">
            </msss-piloter-table-informations-utiles>
        </msss-sigct-content-zone>
    </div>
</div>

            <modal-confirmation id-container="confirm_popup_annuler-modif">
                <div class="modal-confirm-body modal-body">
                    {{'ss-iu-c70005'|translate}}
                </div>

                <div class="modal-confirm-footer modal-footer">
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-primary btn-sm btn-key-action visibility-visible"
                            id="ok_confirm_button"
                            (click)="annulerAction()">Oui</button>
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-sm btn-key-action hidePopup visibility-visible"
                            id="cancel_confirm_button">Non</button>
                </div>
            </modal-confirmation>

            <modal-confirmation id-container="confirm_popup_annuler-modif_et_retour_list_recherche">
                <div class="modal-confirm-body modal-body">
                    {{'ss-iu-c70005'|translate}}
                </div>

                <div class="modal-confirm-footer modal-footer">
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-primary btn-sm btn-key-action visibility-visible"
                            id="ok_confirm_button"
                            (click)="annulerModifEtRetourListeRecherche()">Oui</button>
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-sm btn-key-action hidePopup visibility-visible"
                            id="cancel_confirm_button">Non</button>
                </div>
            </modal-confirmation>

            <modal-confirmation id-container="confirm_popup_remplacer_fichier">
                <div class="modal-confirm-body modal-body">
                    {{'ss-iu-a50025'|translate}}
                </div>

                <div class="modal-confirm-footer modal-footer">
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-primary btn-sm btn-key-action visibility-visible"
                            id="ok_confirm_button"
                            (click)="remplacerFichier()">Oui</button>
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-sm btn-key-action hidePopup visibility-visible"
                            id="cancel_confirm_button">Non</button>
                </div>
            </modal-confirmation>
