#NouvelleConsultation {
    margin-bottom: 10px;
}

.ColonneDroite {
    width: 74%;
}
.ColonnGauche {
    width: 26%;
    padding: 10px;
}

.btn-width {
    display: block;
    height: fit-content;
    width: 100%;
    background: #2b669a;
    background-repeat: repeat-x;
    border-color: #2b669a;
}

.btn-sm:hover {
    background: #164773!important;
    border-color: #4e8ede;
  }
.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-5 {
    margin-top: 10px;
}

.accueil-fiche-appel-page {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.conteneur-compos {
    flex: auto;
    padding-right: 15px;
    padding-bottom: 65px; /* 50px footer + 15px padding*/
}

.info-accueil {
    flex: none;
}

.footer {

    height: 7px;
    width: 100%;
}


.top-border {
border-color: #f5f5f5;
border-bottom: solid 3px #f5f5f5;
margin-right: 0px;
box-shadow: 17px 1px 20px rgb(187 181 181 / 68%);
border-radius: 8px;
}
.padding{
    padding: 6px;
}